extends layout.pug

include errors

block title
    | #{__('Infos utiles ')}

block content
    +errors(errors)

    input(type="hidden" name="_csrf" value=csrf)

    h1 L'auberge du poney Fringant

    table(class="table table-striped")
        thead(class="thead-dark")
            tr
                th Jour
                th Ouverture
                th Fermeture
        tbody
            tr
                td Lundi
                td 11h
                td 23h
            tr
                td Mardi
                td 11h
                td 23h
            tr
                td Mercredi
                td 11h
                td 23h
            tr
                td Jeudi
                td 11h
                td 23h
            tr
                td Vendredi
                td 11h
                td 23h
            tr
                td Samedi
                td 11h
                td 23h
            tr
                td Dimanche
                td 08h
                td 23:59:59
    div
        span
            H2 Adresse
            p 163 Avenue de Luminy, Bat B, Amphi 9 3/4 
        span
            H2 Contact
            p tél : 04 86 09 04 65 ( à n'utiliser qu'en cas d'urgence ! )
            p @ : prancing.pony@yummy.pug
            p authors : Gabriel, Samuel, Ayoub
        span
            table(class="table table-striped")
                thead(class="thead-dark")
                    tr
                        th bibliographie
                    tr
                        td
                            a(href="http://www.recettes-de-geek.fr/") http://www.recettes-de-geek.fr (pour remplir la base de données)
                    tr
                        td
                            a(href="http://pageperso.lif.univ-mrs.fr/~bertrand.estellon/index.php?/") http://pageperso.lif.univ-mrs.fr/~bertrand.estellon/index.php?/