extends layout.pug

include ./dishes


block title
    | Desserts

block content
    a(href="/" class="btn btn-primary") La carte des menus
    a(href="/entrees" class="btn btn-primary") Les Entrées
    a(href="/plats" class="btn btn-primary") Les Plats

    //dishes(deserts)
    +dishes(deserts)