extends layout.pug

include ./dishes


block title
    | Entrées

block content
    a(href="/" class="btn btn-primary") La carte des menus
    a(href="/plats" class="btn btn-primary") Les Plats
    a(href="/desserts" class="btn btn-primary") Les Desserts

    //dishes(starters)
    +dishes(starters)