extends layout.pug

include errors
include ./commentaires

block title
    | #{__('Forum')}

block content
    +errors(errors)


    if loggedUser
        include comment.pug
    +commentaires(commentaires)
