doctype html
html(lang="fr")
    head
        title= title
        link(href='/bootstrap/bootstrap.min.css', rel='stylesheet')
        script(src='/bootstrap/bootstrap.min.js')
        link(href='/icons/material-icons.css', rel='stylesheet')
    body
        header
            div(class='navbar navbar-dark bg-dark')
                div(class="container")
                    div                        
                        a(class="navbar-brand" href="/" title="Page d'accueil")
                            i(class="material-icons") home

                        a(class="navbar-brand" href="/contact" title="Contacts")
                            i(class="material-icons") info
                        
                        a(class="navbar-brand" href="/forum" title="Forum / Avis")
                            i(class="material-icons") forum
                            
                        a(class="navbar-brand" href="/auth/logIn" title="LogIn")
                            i(class="material-icons") lock
                        

                        span(class="navbar-brand") 
                            block title
                    if loggedUser
                        form(class="form-inline")
                                span(class="form-control mr-sm-2") #{loggedUser.username}
                                a(href="/auth/logOut" class="btn btn-primary") #{__('Log out')}
                        if loggedUser.username=="admin1"
                            form(class="form-inline")
                                a(href="/admin/add" class="btn btn-primary") Add
                                a(href="/admin/del" class="btn btn-primary") Del
        main
            div(class='container')
                br
                block content